/*! miniresetcss v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, input, button, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* style.css */

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #161616;
  box-sizing: border-box;
}

body > *:not(:first-child, .modal) {
  margin-inline: auto;
  width: 40vw;
}


header {
  background-color: #323232;
}

.header-content {
  display: flex;
  font-size: 20px;
  height: 64px;
  align-items: center;
  gap: 10px;
  margin-inline: auto;
  width: 40vw;
}

header i {
  font-size: 32px;
}

main {
  display: flex;
  flex-direction: column;
  padding-block: 32px;
  gap: 32px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  margin-inline: auto;
  text-align: center;
}

.solde-container, .transaction {
  display: flex;
  justify-content: space-between;
  background-color: #323232;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  margin-inline: auto;
  align-items: center;
}

#solde {
  font-size: 25px;
}

.solde-negatif {
  color: #e74c3c;
}

#transaction-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #323232;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  margin-inline: auto;
}

#transaction-form input {
  width: fit-content;
}

#transaction-form textarea,input,select {
  border-radius: 12px;
  padding: 10px;
  border: none;
  font-family: inherit;
  font-size: 14px;
  resize: none;
}

#transaction-form input[type="submit"] {
  align-self: center;
}

button, input[type="submit"] {
  color: #fff;
  background-color: #000;
  border-radius: 12px;
  font-family: inherit;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  height: fit-content;
}

#transactions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.transaction-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.transaction {
  position: relative;
}

.transaction-details {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  margin-inline: auto;
}

.transaction-icon {
  font-size: 24px;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  top: 5px;
  left: 5px;
  transform: translate(-50%, -50%);
  color: black;
}

.transaction .fa-calendar {
  font-size: 24px;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  top: 5px;
  right: -25px;
  color: black;
  transform: translate(-50%, -50%);
  background-color: #1abc9c ;
}

.depense .transaction-icon {
  background-color: #e74c3c;
}

.depense {
  border: #e74c3c 1px dotted;
}

.revenu .transaction-icon { 
  background-color: #27ae60;  
}

.revenu {
  border: #27ae60 1px dotted;
}

.month-year, .today-marker {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-inline: auto;
}

.today-marker {
  font-size: 20px;
}

.transaction.futur-marker {
  background-color: rgb(52, 152, 219, 0.3);
}

button, input[type="submit"] {
  cursor: pointer;
}

.supprimer-transaction {
  color: #c0392b;
}

.modifier-transaction {
  color: #95a5a6;
}

/* Modal Structure */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.modal-content {
  background-color: #fefefe;
  color: #e74c3c;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  color: #ecf0f1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#confirmReset, #cancelReset {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}

#confirmReset {
  background-color: #e74c3c;
  color: white;
}

#confirmReset:hover {
  background-color: #c0392b;
}

#cancelReset {
  background-color: #95a5a6;
  color: white;
}

#cancelReset:hover {
  background-color: hsl(0, 0%, 50%);
}

.month-controls {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  gap: 10px;
  align-items: center;
  font-size: 25px;
}

#monthContainer {
  width: 200px;
  text-align: center;
}

.month-controls button {
  scale: 0.8;
}