/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9b59b6;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

h1 {
    display: inline;
    font-size: 2em;
}

/* Formulaire */
form {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    margin-inline: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc;
}

button:hover {
    background-color: #734187;
}

/* Sélection type de transaction */
.select-revenu {
    color: white;
    background-color: #4CAF50;
}

.select-depense {
    color: white;
    background-color: #f44336;
}

#reset,
#recurrent-reset {
    width: 41px;
}

#cancel {
    background-color: #929292;
}
#cancel:hover {
    background-color: #767676;
}
.delete-btn {
    background-color: #f44336;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.edit-btn,
.delete-btn {
    width: fit-content;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Table */
table {
    width: 80%;
    margin-block: 20px;
    margin-inline: auto;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #ddd;
}

th,
td {
    padding: 5px 10px;
    text-align: right;
    border-bottom: 1px solid #ddd;
    border: 1px solid #454545;
    font-weight: 600;
}



.montant.revenu  {
    color: #4CAF50;
}

.montant.depense, .solde.negatif {
    color: #f44336;
}

th {
    padding: 10px;
    background-color: #9b59b6;
    text-align: center;
    color: white;
}

.actions button {
    margin-right: 5px;
}

.revenu {
    background-color: #dff0d8;
}

.depense {
    background-color: #f2dede;
}

.today {
    background-color: #ffffcc;
    text-align: center;
    font-weight: bold;
}

.future {
    background-color: #e0f7fa;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.month-header {
    background-color: #fcf2ff;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}

/* Section Solde */
#balance-section {
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

#balance-section h2 {
    margin: 0;
}

.negatif-solde {
    color: #f44336;
}

.positif-solde {
    color: #4CAF50;
}



#recurrent-transaction-button {
    padding: 10px 20px;
    margin-inline: auto;
    display: block;
}

